
.cell:hover{
    cursor:pointer;
    background-color: #cdeeff;
}
  
.item{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 100%;
    border-collapse: collapse;
}

.item div{
    word-wrap: break-word;
    font-size: 100%;
    white-space: pre-wrap;
}

.btn-conflicts {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
}

.tabela-card{
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 10px ;
    width: auto;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

td {
    border: 1px solid #302727;
    max-width:100px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    height: 100px;
    max-height: 100px;
}

th {
    border: 1px solid #1b1818;
    background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.escolhidas{
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
}

.alert-icon {
    font-size: 1.6rem;
    vertical-align: middle;
}

@media (max-width: 500px) {

    .tabela-card{
        overflow-x: scroll;
    }


    th {
        text-align: center;   
    }

    td {
        height: 50px;
        max-width: 45px;
        width: 40px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        text-align: center;
        font-size: 10px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .ordem{
        display: flex;
        flex-direction: column;
    }
} */
