@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

th, td {
    text-align: center;
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

td {
    max-width:100px;
    height: 100px;
}

h3 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.v-card {
  overflow-wrap: break-word;
  position: relative;
  text-decoration: none;
  transition-duration: .28s;
  transition-property: box-shadow,opacity,background;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  z-index: 0;
  border-color: rgba(#000,0.12);
  border-style: solid;
  border-radius: 4px;
}


@media (max-width: 500px) {
    td {
        height: 50px;
        max-width: 45px;
        width: 40px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        text-align: center;
        font-size: 10px;
    }
}